body{

}

.fold1{
	padding-top: 80px;
}

.footer{
	background-color: gray;
	padding: 20px;
	margin-top: 20px;
}

.inputname{
	width: 270px;
}
.inputemail{
	width: 200px;
}
.inputconsulta{
	width: 270px;
	height: 100px;
}

.fundacion_logo{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}

.jumbotron{
	background-color: white !important;
}

.navbar-brand{
	background-color: #71d5f5;
	color: white;
}

.button{
	border-radius: 3px
}

.map{
	margin-top: 10px;
}

.desc{
	padding-top: 15px;
}
