body{

}

.fold1{
	padding-top: 60px;
}

.footer{
	background-color: gray;
	padding: 20px;
	margin-top: 20px;
}

.inputname{
	width: 270px;
}
.inputemail{
	width: 200px;
}
.inputconsulta{
	width: 270px;
	height: 100px;
}

